<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include
		resource="/org/springframework/boot/logging/logback/base.xml" />

	<!-- Properties -->
	<property name="LOG_DIRECTORY" value="LOGs" />
	<property name="LOG_FILE_NAME" value="listBuilder" />

	<!-- DatePatterns -->
	<timestamp key="DATE_TIME" datePattern="yyyyMMdd_HHmmss" />
	<timestamp key="DATE" datePattern="yyyyMMdd" />

	<!-- Pattner -->
	<property name="PATTERN"
		value="[%-5level] [%d{yyyy-MM-dd HH:mm:ss}] [%-60(%class{0}.%method:%line)] - %msg%n" />
	<property name="PATTERN_HIGHLIGHT"
		value="%highlight([%-5level]) [%d{yyyy-MM-dd HH:mm:ss}] [%-60(%class{0}.%method:%line)] - %msg%n" />

	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${PATTERN_HIGHLIGHT}</pattern>
		</encoder>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_DIRECTORY}/${LOG_FILE_NAME}_${DATE}.log</file>
		<encoder>
			<pattern>${PATTERN}</pattern>
		</encoder>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_DIRECTORY}/archived/${LOG_FILE_NAME}-%d{yyyy-MM-dd}.%i.log.gz
			</fileNamePattern>
			<maxFileSize>2MB</maxFileSize>
			<!-- total size of all archive files -->
			<totalSizeCap>20MB</totalSizeCap>
			<maxHistory>10</maxHistory>
		</rollingPolicy>
	</appender>

	<springProfile name="default,prd,PRD">
		<root level="error">
			<appender-ref ref="CONSOLE" />
			<appender-ref ref="FILE" />
		</root>
		<logger name="br.com.bvilela" level="info" additivity="false">
			<appender-ref ref="CONSOLE" />
			<appender-ref ref="FILE" />
		</logger>
	</springProfile>
	
	<springProfile name="dev">
		<root level="error">
			<appender-ref ref="CONSOLE" />
			<appender-ref ref="FILE" />
		</root>
		<logger name="br.com.bvilela" level="debug" additivity="false">
			<appender-ref ref="CONSOLE" />
			<appender-ref ref="FILE" />
		</logger>
	</springProfile>

</configuration>